
.rInput{
    display:flex;
    width:45vw;
    padding: 8px 8px;
    margin: 8px 0;
    margin-left:5px;
    

    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    width: 50vw;
    
   
 
    margin: 8px 0;
    margin-left:5px;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
  }
  label{
    font-size:20px;
    font:bold;
    margin-left:5px;
  }
  .form-control .form-control--invalid{
display:hidden;
  }